[Unit]
Description=borgbackup daily backup (zelos.dgx)
Wants=network-online.target
After=network-online.target
{% if backup_repo_mode in ['nfs', 'smb'] %}
RequiresMountsFor={{ backup_mount_point }}
{% endif %}

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
ExecStart={{ backup_wrapper_path }}
