[Unit]
Description=borgbackup daily backup timer (zelos.dgx)

[Timer]
OnCalendar={{ backup_schedule }}
RandomizedDelaySec={{ backup_schedule_random_delay }}
Persistent=true
Unit=borg-backup.service

[Install]
WantedBy=timers.target
